<%- include("partials/header") %>

<div class="compose-container card">
  <div class="card-header member-card-header"></div>
  <ul class="nav nav-tabs m-auto member-signup" id="myTab" role="tablist">
    <li class="nav-item pill-item" role="presentation">
      <a
        class="nav-link active pill-link"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Image Post</a
      >
    </li>
    <li class="nav-item pill-item" role="presentation">
      <a
        class="nav-link pill-link"
        id="profile-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
        >Text Post</a
      >
    </li>
    <li class="nav-item pill-item" role="presentation">
      <a
        class="nav-link pill-link"
        id="contact-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
        >Youtube Post</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <div class="card compose-card">
        <div class="card-body compose-card-body">
          <h2 class="form-h2 card-title compose-card-title">
            Compose Post <img src="/img/logo.png" class="form-logo" />
          </h2>
          <form
            class="compose-form"
            action="/compose/compose/<%= userId %>/img-post/all"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <textarea
                type="text"
                name="caption"
                class="form-control"
                placeholder="Caption"
                aria-describedby="helpId"
              ></textarea>
            </div>
            <div class="form-group">
              <input
                type="text"
                name="postOwner"
                class="form-control"
                placeholder="Post owner name"
                aria-describedby="helpId"
              />
            </div>
            <div class="form-group">
              <label for="propic">Select Profile pic : </label>
              <input
                class="d-inline"
                type="file"
                name="propic"
                class="form-control"
                placeholder="choose propic"
                aria-describedby="helpId"
              />
            </div>
            <div class="form-group">
              <label for="image">Select image pic : </label>
              <input
                class="d-inline"
                type="file"
                name="image"
                class="form-control"
                placeholder="choose file"
                aria-describedby="helpId"
              />
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="landscape"
                id="inlineRadio1"
              />
              <label class="form-check-label" for="inlineRadio1"
                >Landscape</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="portrait"
                id="inlineRadio2"
              />
              <label class="form-check-label" for="inlineRadio2"
                >Portrait</label
              >
            </div>
            <input
              type="submit"
              class="btn btn-warning btn-md signup-btn d-block"
              value="Submit"
            />
          </form>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <div class="card compose-card">
        <div class="card-body compose-card-body">
          <h2 class="form-h2 card-title compose-card-title">
            Compose Post<img src="/img/logo.png" class="form-logo" />
          </h2>
          <form
            class="compose-form"
            action="/compose/compose/<%= userId %>/text-post/all"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <textarea
                type="text"
                name="caption"
                class="form-control"
                placeholder="Caption"
                aria-describedby="helpId"
              ></textarea>
            </div>
            <div class="form-group">
              <input
                type="text"
                name="postOwner"
                class="form-control"
                placeholder="Post owner name"
                aria-describedby="helpId"
              />
            </div>
            <div class="form-group">
              <label for="propic">Select Profile pic : </label>
              <input
                class="d-inline"
                type="file"
                name="propic"
                class="form-control"
                placeholder="choose propic"
                aria-describedby="helpId"
              />
            </div>
            <input
              type="submit"
              class="btn btn-warning btn-md signup-btn"
              value="Submit"
            />
          </form>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      <div class="card compose-card">
        <div class="card-body compose-card-body">
          <h2 class="form-h2 card-title compose-card-title">
            Compose Post<img src="/img/logo.png" class="form-logo" />
          </h2>
          <form
            class="compose-form"
            action="/compose/compose/<%= userId %>/youtube-post/all"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <textarea
                type="text"
                name="caption"
                class="form-control"
                placeholder="Caption"
                aria-describedby="helpId"
              ></textarea>
            </div>
            <div class="form-group">
              <input
                type="text"
                name="postOwner"
                class="form-control"
                placeholder="Post owner name"
                aria-describedby="helpId"
              />
            </div>
            <div class="form-group">
              <label for="propic">Select Profile pic : </label>
              <input
                class="d-inline"
                type="file"
                name="propic"
                class="form-control"
                placeholder="choose propic"
                aria-describedby="helpId"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="youtubeLink"
                class="form-control"
                placeholder="paste link here"
                aria-describedby="helpId"
              />
            </div>
            <input
              type="submit"
              class="btn btn-warning btn-md signup-btn"
              value="Submit"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="card-group compose-card-group">
  
  
    
</div> -->

<%- include("partials/footer") %>

<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat error quibusdam accusantium quae eos, odio porro suscipit nisi magni laboriosam dignissimos veritatis corporis facilis recusandae! Aspernatur perspiciatis aliquid totam nulla. -->
