<!DOCTYPE html>
<html>
  <head>
    <title>Hunar Ke Nawab | Bringing fame to the hidden gems</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hunar Ke Nawab is a platform for all sorts of talents. It is place where you can express and explore your self. Abbreviated to HKN, this is a government registered organisation that focuses on bringing fame to hidden gems.">
    <meta name="google-site-verification" content="TK_oBCfURPryz02DNUo4tXuWIpFYSbfN9uViN_D1JRU" />
    <link rel="icon" href="/img/logo.png" type="image/x-icon" />

    <!-- BOOTSTRAP Css-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Fontawesome Css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Oswald:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Ubuntu:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="loader"></div>
    <div id="home-body">
      <div id="upper-section">
        <section id="nav-bar">
          <nav class="navbar navbar-expand-lg">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#"
              ><img
                class="brand-img"
                src="/img/logo.png"
                width="100"
                height="100"
                alt="hkn-logo"
            /></a>
            
            <a class="login-btn-nav" role="button" href="login"
                > <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i> </a
              >

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/users/random/img-post/all">EXPLORE</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/event">EVENTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/notices">NOTICES</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="/aboutus">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contactus">CONTACTUS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">LOGIN</a>
                </li>
              </ul>
            </div>
          </nav>
        </section>
        <section id="banner">
          <div class="row">
            <div class="col-sm-6">
              <h1 class="big-header">
                Bringing Fame To The Hidden Gems
                
              </h1>
              <a class="btn btn-lg  btn-warning signup-btn" role="button" href="/users/random/img-post/all"
                >EXPLORE US</a
              >
              <a class="btn btn-outline-warning btn-lg login-btn" role="button" href="/signup"
                >Sign Up</a
              >
            </div>
            <div class="col-sm-6 text-center">
              <img
                class="logo-img effect6"
                src="/img/logo.png"
                class="img-fluid"
                width="400px"
              />
            </div>
          </div>
        </section>
      </div>

      <nav class="show-nav effect6"></nav>
        <!-- carousel section -->
 <section id="carousel" class="text-center carousel-1">
          <div id="carouselExampleCaptions1" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-1.jpg" ></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-2.jpg" ></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-3.jpg" ></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-4.jpeg"></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-5.jpg" ></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
</section>
      
      <!-- info-section -->

      <section class="info-section text-center">
        <h2 class="info-title">EXPRESS AND EXPLORE YOURSELF</h2>
        <div class="card-deck">
          <div class="card">
            <div class="card-header"></div>
            <img class="card-img-top" src="/img/logo.png" alt="" />
            <div class="card-body">
              <h4 class="card-title">Art Filled Environment</h4>
              <p class="card-text">
                We aim to create a platform where all artists, irrespective of their background,
can interact with each other, share their artworks, comment, compliment, compete, learn and grow together.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header"></div>
            <img class="card-img-top" src="/img/logo.png" alt="" />
            <div class="card-body">
              <h4 class="card-title">Exposure</h4>
              <p class="card-text">
                We provide exposure and recognition to budding artists, especially the ones who have had fewer opportunities. A fair audience will get artists the motivation they deserve to boost their skills and interests. 
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header"></div>
            <img class="card-img-top" src="/img/logo.png" alt="" />
            <div class="card-body">
              <h4 class="card-title">Escape from mundane life</h4>
              <p class="card-text">
                Not everyone is fortunate enough to pursue a career of their passion. Also, a lot of hobbies are suppressed for sake of responsibilities. Hunar Ke Nawab provides elixir to those beplastered hobbies.
              </p>
            </div>
          </div>
        </div>
      </section>


            <!-- carousel section -->
 <section id="carousel" class="text-center carousel-2">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-1.jpg" ></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-2.jpg" ></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-3.jpg" ></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-4.jpeg"></a>
    </div>
    <div class="carousel-item">
      <a href="/users/random/img-post/all"><img class="carousel-img" src="/img/carousel-img-5.jpg" ></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
</section>
     

      
     


      <section class="team-section text-center">
        <div class="container my-5">
          <h2 class="text-center m-4 core-team-title">OUR CORE TEAM</h2>
          <div class="row justify-content-center">
            
            <% coreMemberArray.forEach((member)=>{%> 
            <%if(member.propic.data!=undefined){%>
            
              <div class="col-md-4 text-center">
              <div class="card shadow core-team-card mb-5">   
              <div class="card-header"></div>
              <img
                class="core-team-img card-img-top"
                src="data:image/<%=member.propic.contentType%>;base64,<%=member.propic.data.toString('base64')%>"
                alt="core-member-pic"
                width="100px"
              />
              <div class="card-body p-4"><h4 class="core-member-title card-title"><%= member.name %></h4>
              <p class="core-member-designation"><%= member.team %> <%= member.designation %></p>
              <p class="core-description card-text"><%=member.caption.toString().slice(0,130)%>...<a href="/family">more</a></p></div>
              </div>
            </div>
            <% }else{%>
            <div class="col-md-4 text-center">
              <img
                class="core-team-img"
                src="/img/logo.png"
                alt="core-member-pic"
                width="100px"
              />
              <h4 class="core-member-title"><%= member.name %></h4>
              <p class="core-member-designation"><%= member.designation %></p>
              <p class="core-description"><%= member.caption %></p>
            </div>
            <% } %> <%}); %>
          </div>
        </div>
       <!-- bullet-section -->
      <section class="bullet-section text-center">
        <a href="/influencers" class="btn info-title mt-0 btn-warning mb-2">OUR ARTISTS</a>
        <a href="/contactus" class="btn info-title mt-0 btn-warning mb-2">OUR INTERNS</a>
           <a href="/contactus" class="btn info-title mt-0 btn-warning mb-2">OUR COORDINATORS</a> 
      </section>
        <a href="/family/none/all" class="btn info-title mt-0 btn-warning mb-5">OUR FAMILY</a>
        
      </section>

      <!-- footer -->
      <section id="footer-section">
        <span class="social-icons">
          <a
            class="icon-link"
            href="https://m.facebook.com/HunarKeNawab07/?ref=bookmarks"
            ><i class="fa icon-link fa-facebook fa-2x" aria-hidden="true"></i
          ></a>
          <a
            class="icon-link"
            href="https://instagram.com/hunar_ke_nawab?igshid=mnvfchgjnlwy"
            ><i class="fa icon-link fa-instagram fa-2x" aria-hidden="true"></i
          ></a>
          <a
            class="icon-link"
            href="https://www.youtube.com/channel/UCeINct6JqJhmuJwVSeCEURA"
            ><i class="fa icon-link fa-youtube fa-2x" aria-hidden="true"></i
          ></a>
          <a class="icon-link" href="#"
            ><i class="fa icon-link fa-envelope fa-2x" aria-hidden="true"></i
          ></a>
        </span>

        <p class="copyright">
          <i class="fa fa-copyright" aria-hidden="true"></i> 2020 Hunar Ke Nawab
        </p>
      </section>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/user.js"></script>
  </body>
</html>
